<section class="section section--menu">
    <nav class="menu" aria-label="Main menu">

        <a class="menu__link {% if page.url == '/' %}is-active{% endif %}" href="{{ '/' | relative_url }}">
            Автомобілі на місці
            <span class="menu__u" aria-hidden="true"></span>
        </a>

        <a class="menu__link {% if page.url == '/cars-on-the-way/' %}is-active{% endif %}"
            href="{{ '/cars-on-the-way/' | relative_url }}">
            Автомобілі в дорозі
            <span class="menu__u" aria-hidden="true"></span>
        </a>

        <a class="menu__link {% if page.url == '/where-to-find-us/' %}is-active{% endif %}"
            href="{{ '/where-to-find-us/' | relative_url }}">
            Де нас знайти
            <span class="menu__u" aria-hidden="true"></span>
        </a>

    </nav>
</section>